.first-page{
    background-color: #eeedde;
}

.btn {
    background-color: #203239 !important;
}
.nav-item:hover{
 text-decoration: underline;
 text-decoration-color: green;
 font-weight: bold;
 text-decoration-thickness:6px ;
}
.title{
    font-weight: 600;
}

.search-box {
    max-width: 90%;
}

.img-thumbnail{
    border: none;
}

.search-input {
    font-size: 14px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.home {
    padding-bottom: 50px;
}

.plus {
    color: #FF7527;
    font-weight: bold;
}

.engage > div {
    width: 120px;
}
.engage > div>h1 {
    font-weight: 600;
}




/* Tahapan section start */


.tahapan{
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}
.tahapan-title{
    font-weight: 600;
    color: #203239;
    margin-bottom: 20px;
    font-size: 36px;
}
.card-title{
    border-left: 4px solid #FF7527;
    padding-left: 6px;
}
.card-title {
    border-left: 4px solid #FF7527; /* বর্ডার রঙ এবং প্রস্থ */
    padding-left: 20px; /* বর্ডারের কাছাকাছি টেক্সটের মার্জিন */
    border-radius: 1px; 
}
.fa-arrow-right{
    margin-left: 20px;
}
.tahapan-card{
    margin-top: 70px;
}
.number{
    color: #FF7527;
    font-weight: 600;
    font-size: 16px;
    font-family: poppins;
}
.card-text{
    font-size: 18px;
    font-weight: 300;
    color: rgb(32, 50, 57,0.55);
    padding: 25px;
}


/* Tahapan section end */
/* 
==============================
Residen section start
===============================
*/

.residen{
    background-color: #EEEDDE;
}
.pilihan{
    padding-top: 70px;
    font-weight: 500;
    color: #FF7527;
    font-size: 16px;
}
.residen-img-2{
    margin-top: -395px;
    margin-left: 88px;
}
.fa-phone{
    color: #203239;
    font-size: 15px;
}




/* 
==============================
Residen section end
===============================
*/
